* {
    box-sizing: border-box;
}


.header {
    padding-bottom: 10px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.header a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding-right: 10px;
}

@media (min-width: 400px) {
    .header a {
        font-size: 22px;
        padding-right: 10px;
    }
}

@media (min-width: 620px) {
    .header {
        padding: 10px 40px;
    }

    .header a {
        font-size: 26px;
        padding-right: 15px;
    }
}

@media (min-width: 840px) {
    .header {
	padding: 13px 70px;
	margin: 0;
}

.header a {
    font-size: 30px;
    padding-right: 50px;
}

}






